###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
###> php-cs-fixer ###
/.php-cs-fixer.cache
###< php-cs-fixer ###

###> My configuration ###
/.env
/.vscode
/DEVELOP*.md
/*.code-workspace
/*.conf
/public/institutions/
/src/Command/*MyCommand.php
/src/DataFixtures/*MyFixtures.php
###< My configuration ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
