{% macro money(amount, currency, style = true) %}
    {% if style %}
        <span class="text-{% if amount > 0 %}green{% else %}red{% endif %}">{{ amount|format_currency(currency, locale='fr') }}</span>
    {% else %}
        {{ amount|format_currency(currency, locale='fr') }}
    {% endif %}
{% endmacro %}

{% macro pourcentage(rate, style = true) %}
    {% if style %}
        <span class="text-{% if rate > 0 %}green{% else %}red{% endif %}">{{ (rate*100)|number_format(2, ',', ' ') }} %</span>
    {% else %}
        {{ (rate*100)|number_format(2, ',', ' ') }} %
    {% endif %}
{% endmacro %}

{% macro perfcolor(rate) %}
{% if rate < 0 %}red{% elseif rate < 0.05 %}orange{% elseif rate < 0.10 %}yellow{% else %}lime{% endif %}
{% endmacro %}