{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gérer les bénéficiaires{% endblock %}

{% block content_title %}<i class="fas fa-users"></i> Gérer les bénéficiaires{% endblock %}
{% block content_subtitle %}(Tiers, marchands, ...){% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Liste des bénéficiaires</h3>
                        <div class="card-tools"><a href="{{ path('manage_recipient__create') }}" class="btn btn-sm btn-success" data-toggle="olix-modal" data-target="#modalOlix"><i class="fas fa-plus"></i> <span class="d-none d-md-inline">Ajouter un bénéficiaire</span></a></div>
                    </div>
                    <div class="card-body">
                        <div id="olixDataTables">Loading...</div>
                        <script>
                            var olixDataTables = {{ datatable_settings(datatable) }};
                        </script>
                    </div>
                </div>

            </div>
        </div>

    </div>


    {% include '@OlixBackOffice/Include/modal.html.twig' with { title: "Chargement du formulaire" } %}

{% endblock %}
